.header {
		text-align: center;
}
body {
		background-color: #99ffbb;
}
button{
		border: none;
		background-color: #99ffbb;
		font-size: 16px;
		color: #000000;
		font-family: "Book Antiqua";
		size: 16px
}
.buttons{
		text-align: center;
		background-color: #FFFFFF;
}